<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Define various Log Targets like files, database or asp.net trace files -->

    <target 
      xsi:type="File"
      name="defaultfile"
      fileName="c:\DemoLogs\nlog-all-${shortdate}.log" />

  </targets>

  <rules>
    <!-- Log level (descending order): Off, Fatal, Error, Warn, Info, Debug, Trace -->
  <logger name="*" writeTo="console" minlevel="Info" />
  <logger name="*" writeTo="defaultfile" minlevel="Info" />
  <logger name="*" writeTo="eventlog" minlevel="Error" />
  </rules>

</nlog>

